
#main{
    background-color: #1b335d;
    width: 970px;
    
    padding: 15px;
    margin: auto;
}

.flexing{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#heading{
    color: white;
    background-color: #ca3534;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

#nav{
    background-color:#2a7d8c;
    border-radius: 20px;
    padding: 20px;
    color: white;
    flex:1;
}

a {
    color:  #61d6d8;
}

#content{
    background-color: #0e1822;
    padding: 20px;
    color: white;
    margin-left: 15px;
    border-radius: 20px;
    flex:4;
}

.defenision {
    color: rgb(119, 201, 226);
    text-decoration: underline;
}

span{
    color: #727cf0;
}

footer{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(104, 104, 104);
    margin-top: 15px;
}

a.unorder {
    margin-top: 0px;
    padding: 0px;
    line-height: 0px;
}


